.login,
.register {
  overflow: hidden;
  position: relative;

  .hero {
    height: 100vh;
    width: calc(50vw - 90px);
  }

  .login-form,
  .register-form {
    max-width: 295px;
    text-align: center;
    padding: 90px;
    position: relative;
    left: 59vw;

    h2 {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 2.25rem;
      margin-bottom: 90px;
    }

    input {
      width: 295px;
      height: 40px;
      border: 1px solid black;
      border-radius: 4px;
      margin-bottom: 20px;
      padding: 10px 15px;
      font-family: 'Inter', sans-serif;
      font-size: 1.125rem;
      color: #444444;
    }

    button {
      width: 80px;
      height: 25px;
      border: none;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 1.25rem;
      margin-top: 10px;
      cursor: pointer;
    }
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    color: #000;
    margin-top: 85px;

    a {
      cursor: pointer;
      font-weight: 500;
      text-decoration: underline;
      color: #000;
    }
  }
}