<!doctype html>
<html lang="en">
<head>
    <title>My account</title>
    <link rel="stylesheet" href="../main.css">
</head>
<body class="app account">
<div class="sidebar">
    <h3>My account</h3>
    <div class="nav">
        <a href="/account/details">
            <div class="nav-item">
                <h4>Personal details</h4>
            </div>
        </a>
        <a href="/account/danger-zone">
            <div class="nav-item danger selected">
                <h4>Danger zone</h4>
            </div>
        </a>
    </div>
</div>
<div class="main">
    <div class="header">
        <div class="dropdown">
            <h3><%= user %></h3>
            <img src="../assets/open.svg">
        </div>
        <div class="menu closed">
            <img src="../assets/close.svg" id="close">
            <h3><%= user %></h3>
            <div class="navigation">
                <a href="/account">My account</a>
                <a href="/about">About</a>
            </div>
            <a href="/logout">Log out</a>
        </div>
    </div>
    <div class="danger">
        <h2>Danger zone</h2>
        <div class="password-form">
            <h3>Change password</h3>
            <form method="post">
                <label for="pw">New password</label>
                <input name="pw" id="new-pw" type="password">
                <input name="id" type="hidden" value="<%= id %>">
                <button type="submit" id="change-pw">Submit</button>
            </form>
        </div>
        <a href="/account/delete?id=<%= id %>"><button id="delete-account" type="button">DELETE ACCOUNT</button></a>
    </div>
</div>

<script>
    const openDropdown = document.querySelector('.dropdown');
    const closeDropdown = document.querySelector('#close');
    const menu = document.querySelector('.menu');

    openDropdown.addEventListener('click', function (event) {
      menu.classList.remove('closed');
      menu.classList.add('open');
    });

    closeDropdown.addEventListener('click', function (event) {
      menu.classList.remove('open');
      menu.classList.add('closed');
    });
</script>
</body>
</html>