<div class="hero">
    <h1>Take notes easily</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus massa urna, consectetur euismod accumsan
        pulvinar sagittis, habitant purus.
    </p>
</div>