<!doctype html>
<html lang="en">
<head>
    <title>About | My Notes</title>
    <link rel="stylesheet" href="./main.css">
</head>
<body class="about">
<div>
    <h2>My notes web application by Viktor Farkas</h2>
    <p>This application was created for the Creative Code Lab 2 at FH St. Pölten. Technologies used: Node.js, EJS, SCSS, Express.</p>
    <a href="/app"><button type="button">Go to main page</button></a>

</div>
</body>
</html>