<!doctype html>
<html lang="en">
<head>
    <title>My Notes</title>
    <link rel="stylesheet" href="main.css">
</head>
<body class="login">
    <%- include('partials/hero.ejs') %>
<div class="login-form">
    <h2>Log in</h2>
    <form>
        <input type="text" id="email" name="email" placeholder="john.doe@mail.com">
        <br />
        <input type="password" id="password" name="password" placeholder="Password..">
        <br />
        <button type="submit" id="login">Log in</button>
    </form>
    <p>Don't have an account yet? <a href="/register">Sign up here.</a></p>
</div>
<div>

</div>
</body>
</html>