<!doctype html>
<html lang="en">
<head>
    <title>My Notes</title>
    <link rel="stylesheet" href="main.css">
</head>
<body class="register">
<%- include('partials/hero.ejs') %>
<div class="register-form">
    <h2>Sign up</h2>
    <form>
        <input type="text" id="email" name="email" placeholder="john.doe@mail.com">
        <br />
        <input type="text" id="name" name="name" placeholder="John Doe">
        <br />
        <input type="password" id="password" name="password" placeholder="Password..">
        <br />
        <button type="submit" id="register">Sign up</button>
    </form>
    <p>Already have an account? <a href="/login">Log in here.</a></p>
</div>
<div>

</div>
</body>
</html>